body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.items-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.item {
    text-align: center;
    margin: 10px;
}

.item img {
    max-width: 100%;
    height: 200px;
}

.cart-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}
